@model IEnumerable<JobBoardModels.Entities.Job>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/JsViews/Home/Index.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<button type="button" class="btn-sm btn-primary" onclick="location.href='@Url.Action("Create","Home")'">New</button>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiresAt)
                </td>
                <td>
                    <input type="button" class="btn-sm btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Home", new { JobId = item.JobId })'">
                    <input type="button" class="btn-sm btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Home", new { JobId = item.JobId })'">                    
                </td>
            </tr>
        }
    </tbody>
</table>